SN_ASSN3/flows.json
[{"id":"8dfeb595.ab7418","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"1782addc.b33762","type":"ibmiot in","z":"8dfeb595.ab7418","authentication":"apiKey","apiKey":"5384b018.8dc8b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":280,"wires":[["6ad84d38.5029f4","68e67948.798b18","6d8a2356.b2d4ec","58fc8aec.4f18e4","79d0a314.fe693c","5476dd65.0f7444","695e68e7.243078"]]},{"id":"6ad84d38.5029f4","type":"debug","z":"8dfeb595.ab7418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":280,"wires":[]},{"id":"68e67948.798b18","type":"ui_gauge","z":"8dfeb595.ab7418","name":"","group":"deb1df4b.2d21b","order":6,"width":0,"height":0,"gtype":"gage","title":"SC","label":"units","format":"{{msg.payload.SC}}","min":"60","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":160,"wires":[]},{"id":"58fc8aec.4f18e4","type":"ui_gauge","z":"8dfeb595.ab7418","name":"","group":"deb1df4b.2d21b","order":7,"width":0,"height":0,"gtype":"gage","title":"ECG","label":"units","format":"{{msg.payload.ECG}}","min":"80","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":320,"wires":[]},{"id":"6d8a2356.b2d4ec","type":"ui_gauge","z":"8dfeb595.ab7418","name":"","group":"deb1df4b.2d21b","order":8,"width":0,"height":0,"gtype":"gage","title":"EEG","label":"units","format":"{{msg.payload.EEG}}","min":"60","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":400,"wires":[]},{"id":"79d0a314.fe693c","type":"ui_gauge","z":"8dfeb595.ab7418","name":"","group":"deb1df4b.2d21b","order":9,"width":0,"height":0,"gtype":"gage","title":"BP","label":"units","format":"{{msg.payload.BP}}","min":"80","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":520,"wires":[]},{"id":"5476dd65.0f7444","type":"ui_gauge","z":"8dfeb595.ab7418","name":"","group":"deb1df4b.2d21b","order":10,"width":0,"height":0,"gtype":"gage","title":"HB","label":"units","format":"{{msg.payload.HB}}","min":"8","max":"12","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":620,"wires":[]},{"id":"695e68e7.243078","type":"cloudant out","z":"8dfeb595.ab7418","name":"NODE23","cloudant":"","database":"iotdata1","service":"node-red-thtot-2020--cloudant-1601713568679-18235","payonly":true,"operation":"insert","x":430,"y":100,"wires":[]},{"id":"5384b018.8dc8b","type":"ibmiot","z":"","name":"NODE1","keepalive":"60","serverName":"b27dk9.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"deb1df4b.2d21b","type":"ui_group","z":"","name":"HB","tab":"d4b1446f.dbb7b8","order":1,"disp":true,"width":"8","collapse":false},{"id":"d4b1446f.dbb7b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]